<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlebits.sensorapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.light" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>

    <application
        android:name=".SensorApp"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:label="Sensor App">

        <meta-data
            android:name="com.littlebits.sensorapp.WEATHER_API_KEY"
            android:value="${WEATHER_API_KEY}" />

        <activity android:name=".ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.WorkoutActivity"
            android:exported="true"
            android:parentActivityName=".ui.HomeActivity"/>

        <activity
            android:name=".ui.HeartRateActivity"
            android:exported="true"
            android:parentActivityName=".ui.HomeActivity"/>

        <activity
            android:name=".ui.PersonalDetailsActivity"
            android:exported="true"
            android:parentActivityName=".ui.HomeActivity"/>

        <activity
            android:name=".ui.PastWorkoutsActivity"
            android:exported="true"
            android:parentActivityName=".ui.HomeActivity"/>

        <activity
            android:name=".ui.WorkoutSummaryActivity"
            android:exported="true"
            android:parentActivityName=".ui.PastWorkoutsActivity"/>

        <activity
            android:name=".ui.AvailableSensorsActivity"
            android:exported="true"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.SensorDetailsActivity"
            android:exported="true"
            android:parentActivityName=".ui.AvailableSensorsActivity"/>

    </application>

</manifest>
