<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlebits.sensorapp">

    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.light" android:required="false"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:label="Sensor App">

        <!-- Ensure MainActivity is the Launcher Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
